body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-logo-width{
  max-width: 75% !important;
}
.bg-login{
  background-color: #fdf8ee;
  height: 90vh;
}
.color-purple{
  background-color: #880ED4 !important;
  border-color: #880ED4 !important;
}
.archived{
  background-color: #dcf8f3;
  padding: 5px;
  text-align: center;
  color:darkcyan;
}
.unarchive{
  background-color: #b8b8b8;
  padding: 5px;
  text-align: center;
}