.card-header {
    border-bottom: 1px solid black;
}

.card-header>p {
    color: blue;
}

.details {
    margin: 2% 0%
}

.details>div {
    margin-bottom: 2%;
}

.add-note {
    display: flex;
    flex-direction: column;
}