@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AvenirLTStd-Black';
  font-weight: normal;
  src: url('/fonts/AvenirLTStd-Black.otf') format('opentype');
}

@font-face {
  font-family: 'AvenirLTStd-Book';
  font-weight: normal;
  src: url('/fonts/AvenirLTStd-Book.otf') format('opentype');
}

@font-face {
  font-family: 'AvenirLTStd-Roman';
  font-weight: normal;
  src: url('/fonts/AvenirLTStd-Roman.otf') format('opentype');
}

* {
  font-family: 'AvenirLTStd-Book';
}