#dropdown-basic-button {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: inherit !important;
  text-decoration: none !important;
}
.add-btn {
  background-color: #4f46f8;
  font-size: "12px";
  border: none;
  color: #fff;
  padding: 6px 10px;
  border-radius: 0.2rem;
  font-weight: 500;
}
