.table {
  width: 1195px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableText {
  font-family: "Avenir-Normal";
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
  text-align: center;
}

.tableHeader {
  font-family: "Avenir-Bold";
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
}

.notesBtn {
  width: 100px;
  height: 24px;

  border-color: #000000;
  border-width: 1px;
  border-style: dashed;
  background-color: #4f46f8;
  font-family: "Avenir-Normal";

  font-size: small;

  font-style: normal;
  text-align: center;
  color: #ffffff;
  text-transform: none;
}

.archiveBtn {
  width: 100px;
  height: 24px;

  border:"none";
  box-shadow: none;
  font-family: "Avenir-Normal";

  font-size: small;

  font-style: normal;
  text-align: center;
  color: #ffffff;
  text-transform: none;
}
