
.appBar {
  border-color: #d3d5d8;
  border-width: 1px;
  border-style: solid;

  background: #ffffff;
}
.logo {
  width: 251px;
  height: 32px;
}

.Button {
  width: 115px;
  height: 40px;
  

  border-color: #000000;
  border-width: 1px;
  border-style: dashed;
  background-color: #4F46F8;
  font-family: "Avenir-Normal";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  text-transform: none;

}
