.nav{
    height: 60px;
        border-bottom: 1px solid #d9d7d7;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 50px;
        padding-right: 50px;
}