.my-btn {
  background-color: #4f46f8;
  border: none;
  color: #fff;
  padding: 0.4rem 1.2rem;
  border-radius: 0.2rem;
  font-weight: 600;
}

.navbar {
  min-height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}
