@font-face {
    font-family: 'Avenir-Bold';
    src: url('./fonts/AvenirLTStd-Black.otf') format('truetype');
  }

  @font-face {
    font-family: 'Avenir-Normal';
    src: url('./fonts/AvenirLTStd-Book.otf') format('truetype');
  }


  @font-face {
    font-family: 'Avenir-Roman';
    src: url('./fonts/AvenirLTStd-Roman.otf') format('truetype');
  }