img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: inline-block;
}

label {
  display: block;
}

:root,
body {
  font-size: 14px;
}

table {
  width: 100%;
}

.container {
  @apply max-w-screen-2xl mx-auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-medium;
}

a {
  @apply inline-block text-primary;
}

.hoverable {
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out !important;
  @apply hover:border-transparent hover:shadow-md;
}

.bordered {
  transition: border-color 0.3s ease-in-out !important;
  @apply hover:border-primary hover:border-opacity-60;
}

.MuiDataGrid-columnHeaderTitle {
  font-weight: inherit !important;
}
