@font-face {
  font-family: "Avenir",
    url("../design-files/font/AvenirLTStd-Roman.otf") format("otf");
}

@font-face {
  font-family: "Avenir-Heavy",
    url("../design-files/font/AvenirLTStd-Black.otf") format("otf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Avenir";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
