.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
}

.row {
  display: flex;
  flex-direction: column;

  width: 80%;
  margin: 10px 0px 10px 0px;
}
.rowFlex {
  display: flex;
  align-items: center;

  justify-content: flex-start;
  width: 80%;
  margin: 10px 0px 10px 0px;
}
.filterByText {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  font-size: 20px;
}

.btn {
  background-color: #4f46f8;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  padding: 5px 10px 5px 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.extendedBtn {
  background-color: #4f46f8;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  padding: 5px 10px 5px 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98%;
}
.blueText {
  color: blue;
}
.orangeText {
  color: orange;
}
.dialogRow {
  display: flex;
  align-items: center;

  justify-content: space-between;
  width: 70%;
  margin-top: 10px;
}
